<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show User</title>
</head>
<body>
  <h1>Users {{ one_user.id }}</h1>
  <a href="/">Home</a>
  <div>
    <p>Full Name: {{ one_user.first_name }} {{ one_user.last_name }}</p>
    <p>Email: {{ one_user.email }}</p>
    <p>Created At: {{ one_user.created_at }}</p>
    <p>Last Updated At: {{ one_user.updated_at }}</p>
  </div>
  <a href="/edit_user/{{ one_user.id }}">edit</a>
  <a href="/delete_user/{{ one_user.id }}">delete</a>
</body>
</html>