<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users CR</title>
</head>

<body>
  <div>
    <h1>Add User</h1>
    <a href="/users">Home</a>
  </div>
  <form action="/update/users" method="post">
    <p>First Name:</p>
    <input name="first_name" type="text">
    <p>Last Name:</p>
    <input name="last_name" type="text">
    <p>Email:</p>
    <input name="email" type="text">
    <button>Create User</button>
  </form>
</body>

</html>