<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Create Recipe</title>
</head>

<body class="bg-secondary">
    <div class="d-flex justify-content-evenly m-3">
        <h1>Add a new Recipe!</h1>
        <div class="d-flex gap-3 align-items-center" style="width: 250px;">
            <a class="btn btn-primary" href="/back_home">Back to recipes</a>
            <a class="btn btn-danger" href="/logout">logout</a>
        </div>
    </div>
    <form action="/new_recipe/create" method="post">
        <div class="d-flex gap-5 justify-content-center">
            <div class="d-flex flex-column">
                {% for message in get_flashed_messages() %}
                <p class="text-danger">{{ message }}</p>
                {% endfor %}
                <label>Name: </label>
                <input class="form-control" type="text" name="name">
                <label>Description</label>
                <textarea class="form-control" name="description" cols="30" rows="10"></textarea>
                <label>Instructions</label>
                <textarea class="form-control" name="instructions" cols="30" rows="10"></textarea>
            </div>
            <div>
                <div class="mb-3">
                    <p>Date Cooked/Made:</p>
                    <input class="form-control" value="date_made" type="date" name="date_made">
                    <!-- <input type="text" name="date_made"> -->
                    <p>Under 30 minutes</p>
                    <input class="custom-control-label" value="True" type="radio" name="under">
                    <label>Yes</label>
                    <input value="False" type="radio" name="under">
                    <label>No</label>
                    <input class="custom-control-label" type="hidden" name="user_id" value="{{ session['user_id'] }}">
                </div>
                <button class="btn btn-success">Create Recipe</button>
            </div>
        </div>
    </form>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>